<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR App</title>
</head>
<body>
    <h1>Upload Image for Text Extraction</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/png, image/jpeg">
        <br><br>
        <input type="submit" value="Extract Text">
        <br><br>
        <label for="generate_pdf">Generate PDF</label>
        <input type="checkbox" name="generate_pdf" id="generate_pdf">
        <br><br>
    </form>
</body>
</html>
